<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="mb-3"
>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<label class="control-label">City</label>
			</div>
			<div class="col-sm-8">
				<input
					type="text"
					class="form-control"
					placeholder="City..."
					formControlName="city"
				/>
			</div>
		</div>
	</div>

	<button
		[disabled]="form.invalid || form.disabled"
		class="btn btn-primary"
	>OK</button>
</form>

<div
	*ngIf="weather"
	class="forcast"
>
	<p>Forcast</p>
	<p>Weather: {{weather.description}}</p>
</div>
