<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
>
	<div class="form-group">
		<label class="control-label">City:</label>
		<input
			type="text"
			class="form-control"
			placeholder="City..."
			formControlName="city"
		/>
	</div>

	<div class="form-group">
		<label class="control-label">State:</label>
		<select
			class="form-control"
			formControlName="state"
		>
			<option *ngFor="let state of statesList">{{state}}</option>
		</select>
	</div>

	<button
		[disabled]="form.invalid || form.disabled"
		class="btn btn-primary"
	>OK</button>
</form>

<div
	*ngIf="loading"
	class="loader"
>
	LOADING...
</div>

<div
	*ngIf="!loading"
>
	<p
		*ngIf="errorMessage"
		class="error-message"
	>{{errorMessage}}<br />Please try searching for a different city.</p>

	<div
		*ngIf="weather"
		class="forcast"
	>
		<img
			alt="{{weather.description}}"
			src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png"
		/>
		<p>{{weather.description}}</p>
	</div>
</div>
