// Colors
$black: #000000;
$light-grey: #cccccc;

form {
	$inputHeight: 40px;

	margin-bottom: 100px;
	display: flex;
	justify-content: center;

	.form-group {
		margin: 0 20px 0 0;
	}

	button,
	input,
	label,
	select {
		height: $inputHeight;
		line-height: $inputHeight;
	}

	label {
		margin: 0;
	}

	button,
	input,
	select {
		padding: 0 20px;
		align-self: flex-end;
	}
}

.error-message {
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.loader {
	font-size: 20px;
	text-align: center;
}

.forcast {
	img {
		display: block;
		margin: 0 auto;
	}

	p {
		font-size: 20px;
		font-weight: bold;
		text-transform: capitalize;
		text-align: center;
	}
}
